body { 
    background-color: #000000;
}

.imagenTitle{
  width: 100%;
  height: 125px;
  background-image: url("titulouno.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.imagenTitle >div{
  justify-content: center;
}

.actionButton{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Segoe UI;
  font-weight: Light;
  color: #707070;
}

button {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-family: Segoe UI;
  font-weight: Light;
  color: white;
  box-sizing : border-box;  
  
  border        : 0; 
  border-radius : .50em;
  
  width   : 8em; /* 100px */
  background : #000000;
}

.botonimagen{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color:#04ADCA ;
  height: 200px;
}
.botonimagenS{
  margin: 0px;
  font-size: 0px;
  width: 15%;
  padding: 0;
  height: 150px;
  background-image: url("sumerb.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.botonimagenM{
  margin: 0px;
  font-size: 0px;
  width: 15%;
  padding: 0;
  height: 150px;
  background-image: url("mortyb.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.botonimagenR{
  margin: 0px;
  font-size: 0px;
  width: 15%;
  padding: 0;
  height: 150px;
  background-image: url("rickb.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.botonimagenB{
  margin: 0px;
  font-size: 0px;
  width: 15%;
  padding: 0;
  height: 150px;
  background-image: url("bethb.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.botonimagenJ{
  margin: 0px;
  font-size: 0px;
  width: 15%;
  padding: 0;
  height: 150px;
  background-image: url("b.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-device-width: 450px){
  button {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-family: Segoe UI;
    font-weight: Light;
    color: white;
    box-sizing : border-box;  
    
    border        : 0; 
    border-radius : .50em;
    
    width   : 8em; /* 100px */
    background : #000000;
}}

@media only screen and (max-device-width: 450px){
  .botonimagen{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    height: 200px;
}}

@media only screen and (max-device-width: 450px){ 
  .botonimagenS,.botonimagenM,.botonimagenR,.botonimagenB,.botonimagenJ{
    height: 70px;
    margin:10px;
    width: 20%;
}}







  
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}